#clockcontainer{
    position:relative;
    height:40vw;
    width:40vw;
    margin:auto;
    background:url('gg.jpg') no-repeat;
    background-size:100%;

}
#hour, #minute, #seconds{
    position:absolute;
    background:black;
    border-radius:10px;
}
#hour{
    width:1.8%;
    height:25%;
    top:25%;
    left:49.5%;
   opacity:0.8;
   transform-origin:bottom;
}
#minute{
     width:1.5%;
    height:32%;
    top:18%;
    left:49.5%;
    opacity: 0.9;
     transform-origin:bottom;
}
#seconds{
    width:1%;
    height:38%;
    top:13%;
    left:49.5%;
    opacity:1;
    transform-origin:bottom;
    
}